/* You can add global styles to this file, and also import other style files */
.centered {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.pink {
    background-color: palevioletred;
}
.white {
    background-color: white;
    padding-top: 15px;
}
body{
    background-color: palevioletred !important;
}
.padBot10{
    padding-bottom: 10px;
}
.colorGreen{
    color: green;
}