.bigDreams {
    color: palevioletred;
    margin: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.marBot15 {
    margin-bottom: 15px;
}
.pinkButton {
    background-color:palevioletred;
    color:white;
    font-weight: bold;
}
dancingQueen{
    max-height: 430px;
}
