<div class="container marBot10">
  <img class="img-responsive dancingQueen" style="width: 100%" src="assets/img1.jpg" >

  <div class="centered bigDreams">
      BIG DREAMS, GOOD MUSIC & BEAUTIFUL SHOES!
  </div>

  <div class="row">
    <div class="col-4 col-lg-2">
      <button routerLink="/shoes" class="btn btn-block  marBot15 pinkButton">TENIS</button>
    </div>
    <div class="col-4 col-lg-2">
      <button routerLink="/bags" class="btn btn-block  marBot15 pinkButton">BAGS</button>
    </div>
    <div class="col-4 col-lg-2">
      <button routerLink="/notfound" class="btn btn-block  marBot15 pinkButton">TACONES</button>
    </div>  

    <div class="col-4 col-lg-2">
      <button class="btn btn-block  marBot15 pinkButton disabled">CLASSICS</button>
    </div>
    <div class="col-4 col-lg-2">
      <button class="btn btn-block  marBot15 pinkButton disabled">FLATS</button>
    </div>
    <div class="col-4 col-lg-2">
      <button class="btn btn-block  marBot15 pinkButton disabled">KIDS</button>
    </div>  
  </div>

</div>
